{
  "openapi": "3.1.0",
  "info": {
    "title": "Free Use Bible API",
    "version": "1.15.0",
    "description": "An API for accessing over 1000 different Bible translations.",
    "contact": {
      "name": "HelloAO",
      "url": "https://bible.helloao.org",
      "email": "hello@helloao.org"
    },
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://bible.helloao.org",
      "description": "Free Use Bible API production server"
    }
  ],
  "paths": {
    "/api/available_translations.json": {
      "get": {
        "operationId": "getAvailableTranslations",
        "description": "Get the list of available Bible translations.",
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAvailableTranslations"
                }
              }
            }
          }
        },
        "summary": "List available Bible translations"
      }
    },
    "/api/{translation}/books.json": {
      "get": {
        "operationId": "getTranslationBooks",
        "description": "Get the list of books available for a specific translation.",
        "parameters": [
          {
            "in": "path",
            "name": "translation",
            "schema": {
              "type": "string",
              "description": "The translation ID of the Bible translation to get the books for. For example, \"eng_kjv\" for the King James Version."
            },
            "required": true,
            "description": "The translation ID of the Bible translation to get the books for. For example, \"eng_kjv\" for the King James Version."
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTranslationBooks"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found - The specified translation was not found."
          }
        },
        "summary": "List books in a translation"
      }
    },
    "/api/{translation}/{book}/{chapter}.json": {
      "get": {
        "operationId": "getTranslationBookChapter",
        "description": "Get the content of a specific chapter of a specific book for a specific translation.",
        "parameters": [
          {
            "in": "path",
            "name": "translation",
            "schema": {
              "type": "string",
              "description": "The translation ID of the Bible translation to get the books for. For example, \"eng_kjv\" for the King James Version."
            },
            "required": true,
            "description": "The translation ID of the Bible translation to get the books for. For example, \"eng_kjv\" for the King James Version."
          },
          {
            "in": "path",
            "name": "book",
            "schema": {
              "$ref": "#/components/schemas/BookId"
            },
            "required": true,
            "description": "IDs for books. Follows the USFM standard (https://ubsicap.github.io/usfm/identification/books.html)"
          },
          {
            "in": "path",
            "name": "chapter",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "description": "The chapter number to get the content for. This should be a positive integer."
            },
            "required": true,
            "description": "The chapter number to get the content for. This should be a positive integer."
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTranslationBookChapter"
                }
              }
            },
            "links": {
              "nextChapter": {
                "operationId": "getTranslationBookChapter",
                "description": "Gets the chapter that follows the current chapter in the translation.",
                "parameters": {
                  "translation": "$response.body#/nextChapterReference/translationId",
                  "book": "$response.body#/nextChapterReference/book",
                  "chapter": "$response.body#/nextChapterReference/chapter"
                }
              },
              "previousChapter": {
                "operationId": "getTranslationBookChapter",
                "description": "Gets the chapter that precedes the current chapter in the translation.",
                "parameters": {
                  "translation": "$response.body#/previousChapterReference/translationId",
                  "book": "$response.body#/previousChapterReference/book",
                  "chapter": "$response.body#/previousChapterReference/chapter"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found - The specified translation, book, or chapter was not found."
          }
        },
        "summary": "Get a chapter from a translation"
      }
    },
    "/api/{translation}/{book}/{chapter}.simple.json": {
      "get": {
        "operationId": "getSimpleTranslationBookChapter",
        "description": "Get the content of a specific chapter of a specific book for a specific translation, using the simplified format. In the simplified format, the content of each verse is a single string instead of a list of formatted content, and the footnotes are available on the verse that they occur in, along with the offset that they occur at.",
        "parameters": [
          {
            "in": "path",
            "name": "translation",
            "schema": {
              "type": "string",
              "description": "The translation ID of the Bible translation to get the books for. For example, \"eng_kjv\" for the King James Version."
            },
            "required": true,
            "description": "The translation ID of the Bible translation to get the books for. For example, \"eng_kjv\" for the King James Version."
          },
          {
            "in": "path",
            "name": "book",
            "schema": {
              "$ref": "#/components/schemas/BookId"
            },
            "required": true,
            "description": "IDs for books. Follows the USFM standard (https://ubsicap.github.io/usfm/identification/books.html)"
          },
          {
            "in": "path",
            "name": "chapter",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "description": "The chapter number to get the content for. This should be a positive integer."
            },
            "required": true,
            "description": "The chapter number to get the content for. This should be a positive integer."
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSimpleTranslationBookChapter"
                }
              }
            },
            "links": {
              "nextChapter": {
                "operationId": "getSimpleTranslationBookChapter",
                "description": "Gets the chapter that follows the current chapter in the translation.",
                "parameters": {
                  "translation": "$response.body#/nextChapterReference/translationId",
                  "book": "$response.body#/nextChapterReference/book",
                  "chapter": "$response.body#/nextChapterReference/chapter"
                }
              },
              "previousChapter": {
                "operationId": "getSimpleTranslationBookChapter",
                "description": "Gets the chapter that precedes the current chapter in the translation.",
                "parameters": {
                  "translation": "$response.body#/previousChapterReference/translationId",
                  "book": "$response.body#/previousChapterReference/book",
                  "chapter": "$response.body#/previousChapterReference/chapter"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found - The specified translation, book, or chapter was not found."
          }
        },
        "summary": "Get a simplified chapter from a translation"
      }
    },
    "/api/{translation}/{book}/{chapter}.{reader}.audioTimings.json": {
      "get": {
        "operationId": "getTranslationBookChapterAudioTimings",
        "description": "Get the audio timings (per-verse start times, in seconds) for a specific chapter of a specific book for a specific translation and reader.",
        "parameters": [
          {
            "in": "path",
            "name": "translation",
            "schema": {
              "type": "string",
              "description": "The translation ID of the Bible translation to get the books for. For example, \"eng_kjv\" for the King James Version."
            },
            "required": true,
            "description": "The translation ID of the Bible translation to get the books for. For example, \"eng_kjv\" for the King James Version."
          },
          {
            "in": "path",
            "name": "book",
            "schema": {
              "$ref": "#/components/schemas/BookId"
            },
            "required": true,
            "description": "IDs for books. Follows the USFM standard (https://ubsicap.github.io/usfm/identification/books.html)"
          },
          {
            "in": "path",
            "name": "chapter",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "description": "The chapter number to get the content for. This should be a positive integer."
            },
            "required": true,
            "description": "The chapter number to get the content for. This should be a positive integer."
          },
          {
            "in": "path",
            "name": "reader",
            "schema": {
              "type": "string",
              "description": "The ID of the reader to get the audio timings for. For example, \"hays\" for the Hays reading of the Berean Standard Bible."
            },
            "required": true,
            "description": "The ID of the reader to get the audio timings for. For example, \"hays\" for the Hays reading of the Berean Standard Bible."
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTranslationBookChapterAudioTimings"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found - The specified translation, book, chapter, or reader was not found."
          }
        },
        "summary": "Get audio timings for a chapter"
      }
    },
    "/api/{translation}/{book}/{chapter}.words.json": {
      "get": {
        "operationId": "getTranslationBookChapterWords",
        "description": "Get the word-level annotations (Strong's numbers and related source data) for a specific chapter of a specific book for a specific translation.",
        "parameters": [
          {
            "in": "path",
            "name": "translation",
            "schema": {
              "type": "string",
              "description": "The translation ID of the Bible translation to get the books for. For example, \"eng_kjv\" for the King James Version."
            },
            "required": true,
            "description": "The translation ID of the Bible translation to get the books for. For example, \"eng_kjv\" for the King James Version."
          },
          {
            "in": "path",
            "name": "book",
            "schema": {
              "$ref": "#/components/schemas/BookId"
            },
            "required": true,
            "description": "IDs for books. Follows the USFM standard (https://ubsicap.github.io/usfm/identification/books.html)"
          },
          {
            "in": "path",
            "name": "chapter",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "description": "The chapter number to get the content for. This should be a positive integer."
            },
            "required": true,
            "description": "The chapter number to get the content for. This should be a positive integer."
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTranslationBookChapterWords"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found - The specified translation, book, or chapter was not found, or the chapter does not have any word-level annotations."
          }
        },
        "summary": "Get word annotations for a chapter"
      }
    },
    "/api/{translation}/{book}/{chapter}.words.simple.json": {
      "get": {
        "operationId": "getSimpleTranslationBookChapterWords",
        "description": "Get the word-level annotations (Strong's numbers and related source data) for a specific chapter of a specific book for a specific translation, with their offsets remapped onto the text of each simplified verse. Use this with the simplified chapter format, since the offsets in the regular annotations are anchored to a verse's content array.",
        "parameters": [
          {
            "in": "path",
            "name": "translation",
            "schema": {
              "type": "string",
              "description": "The translation ID of the Bible translation to get the books for. For example, \"eng_kjv\" for the King James Version."
            },
            "required": true,
            "description": "The translation ID of the Bible translation to get the books for. For example, \"eng_kjv\" for the King James Version."
          },
          {
            "in": "path",
            "name": "book",
            "schema": {
              "$ref": "#/components/schemas/BookId"
            },
            "required": true,
            "description": "IDs for books. Follows the USFM standard (https://ubsicap.github.io/usfm/identification/books.html)"
          },
          {
            "in": "path",
            "name": "chapter",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "description": "The chapter number to get the content for. This should be a positive integer."
            },
            "required": true,
            "description": "The chapter number to get the content for. This should be a positive integer."
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSimpleTranslationBookChapterWords"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found - The specified translation, book, or chapter was not found, or the chapter does not have any word-level annotations."
          }
        },
        "summary": "Get simplified word annotations for a chapter"
      }
    },
    "/api/{translation}/complete.json": {
      "get": {
        "operationId": "getTranslationComplete",
        "description": "Get the complete content of a specific translation.",
        "parameters": [
          {
            "in": "path",
            "name": "translation",
            "schema": {
              "type": "string",
              "description": "The translation ID of the Bible translation to get the books for. For example, \"eng_kjv\" for the King James Version."
            },
            "required": true,
            "description": "The translation ID of the Bible translation to get the books for. For example, \"eng_kjv\" for the King James Version."
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTranslationComplete"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found - The specified translation was not found, or complete translations are not available."
          }
        },
        "summary": "Download a complete translation"
      }
    },
    "/api/{translation}/complete.simple.json": {
      "get": {
        "operationId": "getSimpleTranslationComplete",
        "description": "Get the complete content of a specific translation, using the simplified format. In the simplified format, the content of each verse is a single string instead of a list of formatted content, and the footnotes are available on the verse that they occur in, along with the offset that they occur at.",
        "parameters": [
          {
            "in": "path",
            "name": "translation",
            "schema": {
              "type": "string",
              "description": "The translation ID of the Bible translation to get the books for. For example, \"eng_kjv\" for the King James Version."
            },
            "required": true,
            "description": "The translation ID of the Bible translation to get the books for. For example, \"eng_kjv\" for the King James Version."
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSimpleTranslationComplete"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found - The specified translation was not found, or complete translations are not available."
          }
        },
        "summary": "Download a complete simplified translation"
      }
    },
    "/api/available_commentaries.json": {
      "get": {
        "operationId": "getAvailableCommentaries",
        "description": "Get the list of available commentaries.",
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAvailableCommentaries"
                }
              }
            }
          }
        },
        "summary": "List available commentaries"
      }
    },
    "/api/c/{commentary}/books.json": {
      "get": {
        "operationId": "getCommentaryBooks",
        "description": "Get the list of books available for a specific commentary.",
        "parameters": [
          {
            "in": "path",
            "name": "commentary",
            "schema": {
              "type": "string",
              "description": "The commentary ID of the commentary to get the books or chapter content for."
            },
            "required": true,
            "description": "The commentary ID of the commentary to get the books or chapter content for."
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommentaryBooks"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found - The specified commentary was not found."
          }
        },
        "summary": "List books in a commentary"
      }
    },
    "/api/c/{commentary}/{book}/{chapter}.json": {
      "get": {
        "operationId": "getCommentaryBookChapter",
        "description": "Get the content of a specific chapter of a specific book for a specific commentary.",
        "parameters": [
          {
            "in": "path",
            "name": "commentary",
            "schema": {
              "type": "string",
              "description": "The commentary ID of the commentary to get the books or chapter content for."
            },
            "required": true,
            "description": "The commentary ID of the commentary to get the books or chapter content for."
          },
          {
            "in": "path",
            "name": "book",
            "schema": {
              "$ref": "#/components/schemas/BookId"
            },
            "required": true,
            "description": "IDs for books. Follows the USFM standard (https://ubsicap.github.io/usfm/identification/books.html)"
          },
          {
            "in": "path",
            "name": "chapter",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "description": "The chapter number to get the content for. This should be a positive integer."
            },
            "required": true,
            "description": "The chapter number to get the content for. This should be a positive integer."
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommentaryBookChapter"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found - The specified commentary, book, or chapter was not found."
          }
        },
        "summary": "Get a chapter from a commentary"
      }
    },
    "/api/c/{commentary}/{book}/{chapter}.simple.json": {
      "get": {
        "operationId": "getSimpleCommentaryBookChapter",
        "description": "Get the content of a specific chapter of a specific book for a specific commentary, using the simplified format. In the simplified format, the content of each verse is a single string instead of a list of formatted content.",
        "parameters": [
          {
            "in": "path",
            "name": "commentary",
            "schema": {
              "type": "string",
              "description": "The commentary ID of the commentary to get the books or chapter content for."
            },
            "required": true,
            "description": "The commentary ID of the commentary to get the books or chapter content for."
          },
          {
            "in": "path",
            "name": "book",
            "schema": {
              "$ref": "#/components/schemas/BookId"
            },
            "required": true,
            "description": "IDs for books. Follows the USFM standard (https://ubsicap.github.io/usfm/identification/books.html)"
          },
          {
            "in": "path",
            "name": "chapter",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "description": "The chapter number to get the content for. This should be a positive integer."
            },
            "required": true,
            "description": "The chapter number to get the content for. This should be a positive integer."
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSimpleCommentaryBookChapter"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found - The specified commentary, book, or chapter was not found."
          }
        },
        "summary": "Get a simplified chapter from a commentary"
      }
    },
    "/api/available_datasets.json": {
      "get": {
        "operationId": "getAvailableDatasets",
        "description": "Get the list of available datasets.",
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAvailableDatasets"
                }
              }
            }
          }
        },
        "summary": "List available datasets"
      }
    },
    "/api/d/{dataset}/books.json": {
      "get": {
        "operationId": "getDatasetBooks",
        "description": "Get the list of books available for a specific dataset.",
        "parameters": [
          {
            "in": "path",
            "name": "dataset",
            "schema": {
              "type": "string",
              "description": "The dataset ID of the dataset to get the books or chapter content for."
            },
            "required": true,
            "description": "The dataset ID of the dataset to get the books or chapter content for."
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiDatasetBooks"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found - The specified dataset was not found."
          }
        },
        "summary": "List books in a dataset"
      }
    },
    "/api/d/{dataset}/{book}/{chapter}.json": {
      "get": {
        "operationId": "getDatasetBookChapter",
        "description": "Get the content of a specific chapter of a specific book for a specific dataset. For cross reference datasets, this is the list of cross references for each verse in the chapter. For entity datasets (such as \"theographic\"), this is the people, places, and events that appear in the chapter.",
        "parameters": [
          {
            "in": "path",
            "name": "dataset",
            "schema": {
              "type": "string",
              "description": "The dataset ID of the dataset to get the books or chapter content for."
            },
            "required": true,
            "description": "The dataset ID of the dataset to get the books or chapter content for."
          },
          {
            "in": "path",
            "name": "book",
            "schema": {
              "$ref": "#/components/schemas/BookId"
            },
            "required": true,
            "description": "IDs for books. Follows the USFM standard (https://ubsicap.github.io/usfm/identification/books.html)"
          },
          {
            "in": "path",
            "name": "chapter",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "description": "The chapter number to get the content for. This should be a positive integer."
            },
            "required": true,
            "description": "The chapter number to get the content for. This should be a positive integer."
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ApiDatasetBookChapter"
                    },
                    {
                      "$ref": "#/components/schemas/ApiDatasetEntityBookChapter"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found - The specified dataset, book, or chapter was not found."
          }
        },
        "summary": "Get chapter data from a dataset"
      }
    },
    "/api/d/{dataset}/people.json": {
      "get": {
        "operationId": "getDatasetPeople",
        "description": "Get the list of people that are available for a specific dataset.",
        "parameters": [
          {
            "in": "path",
            "name": "dataset",
            "schema": {
              "type": "string",
              "description": "The dataset ID of the dataset to get the books or chapter content for."
            },
            "required": true,
            "description": "The dataset ID of the dataset to get the books or chapter content for."
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiDatasetPeople"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found - The specified dataset was not found or doesn't contain people."
          }
        },
        "summary": "List people in a dataset"
      }
    },
    "/api/d/{dataset}/people/{person}.json": {
      "get": {
        "operationId": "getDatasetPerson",
        "description": "Get the information about a specific person for a specific dataset. Includes the Bible references that mention the person and their relationships to other people, places, events, and people groups.",
        "parameters": [
          {
            "in": "path",
            "name": "dataset",
            "schema": {
              "type": "string",
              "description": "The dataset ID of the dataset to get the books or chapter content for."
            },
            "required": true,
            "description": "The dataset ID of the dataset to get the books or chapter content for."
          },
          {
            "in": "path",
            "name": "person",
            "schema": {
              "type": "string",
              "description": "The ID of the person to get the information for. For example, \"paul_2479\" for the apostle Paul."
            },
            "required": true,
            "description": "The ID of the person to get the information for. For example, \"paul_2479\" for the apostle Paul."
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiDatasetPerson"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found - The specified dataset or person was not found."
          }
        },
        "summary": "Get a person from a dataset"
      }
    },
    "/api/d/{dataset}/places.json": {
      "get": {
        "operationId": "getDatasetPlaces",
        "description": "Get the list of places that are available for a specific dataset.",
        "parameters": [
          {
            "in": "path",
            "name": "dataset",
            "schema": {
              "type": "string",
              "description": "The dataset ID of the dataset to get the books or chapter content for."
            },
            "required": true,
            "description": "The dataset ID of the dataset to get the books or chapter content for."
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiDatasetPlaces"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found - The specified dataset was not found or doesn't contain places."
          }
        },
        "summary": "List places in a dataset"
      }
    },
    "/api/d/{dataset}/places/{place}.json": {
      "get": {
        "operationId": "getDatasetPlace",
        "description": "Get the information about a specific place for a specific dataset. Includes the Bible references that mention the place and its related people and events.",
        "parameters": [
          {
            "in": "path",
            "name": "dataset",
            "schema": {
              "type": "string",
              "description": "The dataset ID of the dataset to get the books or chapter content for."
            },
            "required": true,
            "description": "The dataset ID of the dataset to get the books or chapter content for."
          },
          {
            "in": "path",
            "name": "place",
            "schema": {
              "type": "string",
              "description": "The ID of the place to get the information for. For example, \"jerusalem_636\" for Jerusalem."
            },
            "required": true,
            "description": "The ID of the place to get the information for. For example, \"jerusalem_636\" for Jerusalem."
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiDatasetPlace"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found - The specified dataset or place was not found."
          }
        },
        "summary": "Get a place from a dataset"
      }
    },
    "/api/d/{dataset}/events.json": {
      "get": {
        "operationId": "getDatasetEvents",
        "description": "Get the list of events that are available for a specific dataset.",
        "parameters": [
          {
            "in": "path",
            "name": "dataset",
            "schema": {
              "type": "string",
              "description": "The dataset ID of the dataset to get the books or chapter content for."
            },
            "required": true,
            "description": "The dataset ID of the dataset to get the books or chapter content for."
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiDatasetEvents"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found - The specified dataset was not found or doesn't contain events."
          }
        },
        "summary": "List events in a dataset"
      }
    },
    "/api/d/{dataset}/events/{event}.json": {
      "get": {
        "operationId": "getDatasetEvent",
        "description": "Get the information about a specific event for a specific dataset. Includes the Bible references that describe the event and its related people, places, and people groups.",
        "parameters": [
          {
            "in": "path",
            "name": "dataset",
            "schema": {
              "type": "string",
              "description": "The dataset ID of the dataset to get the books or chapter content for."
            },
            "required": true,
            "description": "The dataset ID of the dataset to get the books or chapter content for."
          },
          {
            "in": "path",
            "name": "event",
            "schema": {
              "type": "string",
              "description": "The ID of the event to get the information for. For example, \"saul-is-converted_326\" for the conversion of Saul."
            },
            "required": true,
            "description": "The ID of the event to get the information for. For example, \"saul-is-converted_326\" for the conversion of Saul."
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiDatasetEvent"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found - The specified dataset or event was not found."
          }
        },
        "summary": "Get an event from a dataset"
      }
    },
    "/api/d/{dataset}/groups.json": {
      "get": {
        "operationId": "getDatasetPeopleGroups",
        "description": "Get the list of people groups that are available for a specific dataset.",
        "parameters": [
          {
            "in": "path",
            "name": "dataset",
            "schema": {
              "type": "string",
              "description": "The dataset ID of the dataset to get the books or chapter content for."
            },
            "required": true,
            "description": "The dataset ID of the dataset to get the books or chapter content for."
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiDatasetPeopleGroups"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found - The specified dataset was not found or doesn't contain people groups."
          }
        },
        "summary": "List people groups in a dataset"
      }
    },
    "/api/d/{dataset}/groups/{group}.json": {
      "get": {
        "operationId": "getDatasetPeopleGroup",
        "description": "Get the information about a specific people group for a specific dataset. Includes the members of the group and the events that the group participated in.",
        "parameters": [
          {
            "in": "path",
            "name": "dataset",
            "schema": {
              "type": "string",
              "description": "The dataset ID of the dataset to get the books or chapter content for."
            },
            "required": true,
            "description": "The dataset ID of the dataset to get the books or chapter content for."
          },
          {
            "in": "path",
            "name": "group",
            "schema": {
              "type": "string",
              "description": "The ID of the people group to get the information for. For example, \"tribe-of-benjamin\" for the tribe of Benjamin."
            },
            "required": true,
            "description": "The ID of the people group to get the information for. For example, \"tribe-of-benjamin\" for the tribe of Benjamin."
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiDatasetPeopleGroup"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found - The specified dataset or people group was not found."
          }
        },
        "summary": "Get a people group from a dataset"
      }
    }
  },
  "components": {
    "schemas": {
      "BookId": {
        "type": "string",
        "enum": [
          "GEN",
          "EXO",
          "LEV",
          "NUM",
          "DEU",
          "JOS",
          "JDG",
          "RUT",
          "1SA",
          "2SA",
          "1KI",
          "2KI",
          "1CH",
          "2CH",
          "EZR",
          "NEH",
          "EST",
          "JOB",
          "PSA",
          "PRO",
          "ECC",
          "SNG",
          "ISA",
          "JER",
          "LAM",
          "EZK",
          "DAN",
          "HOS",
          "JOL",
          "AMO",
          "OBA",
          "JON",
          "MIC",
          "NAM",
          "HAB",
          "ZEP",
          "HAG",
          "ZEC",
          "MAL",
          "MAT",
          "MRK",
          "LUK",
          "JHN",
          "ACT",
          "ROM",
          "1CO",
          "2CO",
          "GAL",
          "EPH",
          "PHP",
          "COL",
          "1TH",
          "2TH",
          "1TI",
          "2TI",
          "TIT",
          "PHM",
          "HEB",
          "JAS",
          "1PE",
          "2PE",
          "1JN",
          "2JN",
          "3JN",
          "JUD",
          "REV",
          "TOB",
          "JDT",
          "ESG",
          "WIS",
          "SIR",
          "BAR",
          "LJE",
          "S3Y",
          "SUS",
          "BEL",
          "1MA",
          "2MA",
          "3MA",
          "4MA",
          "1ES",
          "2ES",
          "MAN",
          "PS2",
          "ODA",
          "PSS",
          "EZA",
          "5EZ",
          "6EZ",
          "DAG",
          "PS3",
          "2BA",
          "LBA",
          "JUB",
          "ENO",
          "1MQ",
          "2MQ",
          "3MQ",
          "REP",
          "4BA",
          "LAO"
        ],
        "description": "IDs for books. Follows the USFM standard (https://ubsicap.github.io/usfm/identification/books.html)"
      },
      "ApiAvailableTranslations": {
        "type": "object",
        "properties": {
          "translations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiTranslation"
            },
            "description": "The list of translations that are available in the API."
          }
        },
        "required": [
          "translations"
        ],
        "additionalProperties": false,
        "description": "The list of available translations. Maps to the /api/available-translations.json endpoint."
      },
      "ApiTranslation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the translation."
          },
          "name": {
            "type": "string",
            "description": "The name of the translation."
          },
          "website": {
            "type": "string",
            "description": "The website for the translation."
          },
          "licenseUrl": {
            "type": "string",
            "description": "The URL that the license for the translation can be found."
          },
          "licenseNotes": {
            "description": "The API-added notes for the license.",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "licenseNotice": {
            "description": "The notice that should be displayed when displaying content from the translation.",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "license": {
            "description": "The structured license terms that were detected for the translation, if any.",
            "anyOf": [
              {
                "$ref": "#/components/schemas/License"
              },
              {
                "type": "null"
              }
            ]
          },
          "shortName": {
            "description": "The short name for the translation.",
            "type": "string"
          },
          "englishName": {
            "type": "string",
            "description": "The English name for the translation."
          },
          "language": {
            "type": "string",
            "description": "The ISO 639 3-letter language tag that the translation is primarily in."
          },
          "textDirection": {
            "type": "string",
            "enum": [
              "ltr",
              "rtl"
            ],
            "description": "The direction that the language is written in. `ltr` indicates that the text is written from the left side of the page to the right. `rtl` indicates that the text is written from the right side of the page to the left."
          },
          "listOfBooksApiLink": {
            "type": "string",
            "description": "The API link for the list of books for this translation. Relative to the API origin."
          },
          "availableFormats": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "json",
                "usfm"
              ]
            }
          },
          "numberOfBooks": {
            "type": "number",
            "description": "The number of books that are contained in this translation. Complete translations should have the same number of books as the Bible (66)."
          },
          "totalNumberOfChapters": {
            "type": "number",
            "description": "The total number of chapters that are contained in this translation. Complete translations should have the same number of chapters as the Bible (1,189)."
          },
          "totalNumberOfVerses": {
            "type": "number",
            "description": "The total number of verses that are contained in this translation. Complete translations should have the same number of verses as the Bible (around 31,102 - some translations exclude verses based on the aparent likelyhood of existing in the original source texts)."
          },
          "numberOfApocryphalBooks": {
            "description": "The total number of apocryphal books that are contained in this translation.",
            "type": "number"
          },
          "totalNumberOfApocryphalChapters": {
            "description": "The total number of apocryphal chapters that are contained in this translation.",
            "type": "number"
          },
          "totalNumberOfApocryphalVerses": {
            "description": "The total number of apocryphal verses that are contained in this translation.",
            "type": "number"
          },
          "languageName": {
            "description": "Gets the name of the language that the translation is in. Null or undefined if the name of the language is not known.",
            "type": "string"
          },
          "languageEnglishName": {
            "description": "Gets the name of the language in English. Null or undefined if the language doesn't have an english name.",
            "type": "string"
          },
          "completeTranslationApiLink": {
            "description": "The API link for downloading the complete translation as a single JSON file. Relative to the API origin. Undefined if complete translation files are not available.",
            "type": "string"
          },
          "simpleCompleteTranslationApiLink": {
            "description": "The API link for downloading the complete translation as a single JSON file, using the simplified chapter format. Relative to the API origin. Undefined if complete translation files are not available.",
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "website",
          "licenseUrl",
          "englishName",
          "language",
          "textDirection",
          "listOfBooksApiLink",
          "availableFormats",
          "numberOfBooks",
          "totalNumberOfChapters",
          "totalNumberOfVerses"
        ],
        "additionalProperties": false,
        "description": "Defines a translation that is used in the API."
      },
      "License": {
        "type": "object",
        "properties": {
          "attribution": {
            "type": "string",
            "enum": [
              "required",
              "not-required"
            ],
            "description": "Whether attribution to the original source is required when using the translation."
          },
          "commercialUse": {
            "type": "string",
            "enum": [
              "allowed",
              "not-allowed"
            ],
            "description": "Whether commercial use of the translation is allowed."
          },
          "derivatives": {
            "type": "string",
            "enum": [
              "allowed",
              "not-allowed"
            ],
            "description": "Whether creating and distributing derivative works of the translation is allowed."
          },
          "copyleft": {
            "type": "boolean",
            "description": "Whether derivative works must be distributed under the same license (i.e. a \"share-alike\" requirement)."
          },
          "publicDomain": {
            "type": "boolean",
            "description": "Whether the translation has been dedicated to the public domain."
          }
        },
        "required": [
          "attribution",
          "commercialUse",
          "derivatives",
          "copyleft",
          "publicDomain"
        ],
        "additionalProperties": false,
        "description": "Defines the structured license terms that were detected for a translation."
      },
      "ApiTranslationBooks": {
        "type": "object",
        "properties": {
          "translation": {
            "description": "The translation information for the books.",
            "$ref": "#/components/schemas/ApiTranslation"
          },
          "books": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiTranslationBook"
            },
            "description": "The list of books that are available for the translation."
          }
        },
        "required": [
          "translation",
          "books"
        ],
        "additionalProperties": false,
        "description": "Defines an interface that contains information about the books that are available for a translation."
      },
      "ApiTranslationBook": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/BookId"
          },
          "name": {
            "type": "string",
            "description": "The name that the translation provided for the book."
          },
          "commonName": {
            "type": "string",
            "description": "The common name for the book."
          },
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The title of the book. This is usually a more descriptive version of the book name. If not available, then one was not provided by the translation."
          },
          "order": {
            "type": "number",
            "description": "The numerical order of the book in the translation."
          },
          "isApocryphal": {
            "description": "Whether the book is an apocryphal book.",
            "type": "boolean"
          },
          "firstChapterNumber": {
            "type": "number",
            "description": "The number of the first chapter in the book."
          },
          "firstChapterApiLink": {
            "type": "string",
            "description": "The link to the first chapter of the book."
          },
          "firstChapterReference": {
            "$ref": "#/components/schemas/TranslationChapterReference"
          },
          "lastChapterNumber": {
            "type": "number",
            "description": "The number of the last chapter in the book."
          },
          "lastChapterApiLink": {
            "type": "string",
            "description": "The link to the last chapter of the book."
          },
          "lastChapterReference": {
            "$ref": "#/components/schemas/TranslationChapterReference"
          },
          "numberOfChapters": {
            "type": "number",
            "description": "The number of chapters that the book contains."
          },
          "totalNumberOfVerses": {
            "type": "number",
            "description": "The number of verses that the book contains."
          }
        },
        "required": [
          "id",
          "name",
          "commonName",
          "title",
          "order",
          "firstChapterNumber",
          "firstChapterApiLink",
          "firstChapterReference",
          "lastChapterNumber",
          "lastChapterApiLink",
          "lastChapterReference",
          "numberOfChapters",
          "totalNumberOfVerses"
        ],
        "additionalProperties": false,
        "description": "Defines a schema that contains information about a translation book."
      },
      "TranslationChapterReference": {
        "type": "object",
        "properties": {
          "translationId": {
            "type": "string",
            "description": "The ID of the translation that the chapter reference is for."
          },
          "book": {
            "$ref": "#/components/schemas/BookId"
          },
          "chapter": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991,
            "description": "The chapter number of the chapter reference."
          }
        },
        "required": [
          "translationId",
          "book",
          "chapter"
        ],
        "additionalProperties": false,
        "description": "Defines a reference to a chapter in a translation."
      },
      "ApiTranslationBookChapter": {
        "type": "object",
        "properties": {
          "chapter": {
            "description": "The information for the chapter.",
            "type": "object",
            "properties": {
              "number": {
                "type": "number",
                "description": "The number of the chapter."
              },
              "content": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ChapterContent"
                },
                "description": "The content of the chapter."
              },
              "footnotes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ChapterFootnote"
                },
                "description": "The list of footnotes for the chapter."
              }
            },
            "required": [
              "number",
              "content",
              "footnotes"
            ],
            "additionalProperties": false
          },
          "thisChapterAudioLinks": {
            "description": "The links to different audio versions for the chapter.",
            "$ref": "#/components/schemas/TranslationBookChapterAudioLinks"
          },
          "thisChapterAudioTimings": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "string"
            },
            "description": "The links to the audio timings for different audio versions for the chapter. Relative to the API origin."
          },
          "translation": {
            "description": "The translation information for the book chapter.",
            "$ref": "#/components/schemas/ApiTranslation"
          },
          "book": {
            "description": "The book information for the book chapter.",
            "$ref": "#/components/schemas/ApiTranslationBook"
          },
          "thisChapterLink": {
            "type": "string",
            "description": "The API link for this chapter. Relative to the API origin."
          },
          "thisChapterReference": {
            "$ref": "#/components/schemas/TranslationChapterReference"
          },
          "nextChapterApiLink": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The API link to the next chapter. Relative to the API origin. Null if this is the last chapter in the translation."
          },
          "nextChapterReference": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TranslationChapterReference"
              },
              {
                "type": "null"
              }
            ],
            "description": "The reference for the next chapter. Null if this is the last chapter in the translation."
          },
          "nextChapterAudioLinks": {
            "anyOf": [
              {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "The links to the audio versions for the next chapter. Relative to the API origin. Null if this is the last chapter in the translation."
          },
          "nextChapterAudioTimings": {
            "anyOf": [
              {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "The links to the audio timings for different audio versions for the next chapter. Relative to the API origin. Null if this is the last chapter in the translation."
          },
          "previousChapterAudioTimings": {
            "anyOf": [
              {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "The links to the audio timings for different audio versions for the previous chapter. Relative to the API origin. Null if this is the first chapter in the translation."
          },
          "previousChapterApiLink": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The API link to the previous chapter. Relative to the API origin. Null if this is the first chapter in the translation."
          },
          "previousChapterReference": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TranslationChapterReference"
              },
              {
                "type": "null"
              }
            ],
            "description": "The reference for the previous chapter. Null if this is the first chapter in the translation."
          },
          "previousChapterAudioLinks": {
            "anyOf": [
              {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "The links to the audio versions for the previous chapter. Relative to the API origin. Null if this is the first chapter in the translation."
          },
          "thisChapterWordsLink": {
            "description": "The link to the word-level annotations for this chapter. Relative to the API origin. Omitted if the chapter doesn't have any word-level annotations.",
            "type": "string"
          },
          "nextChapterWordsLink": {
            "description": "The link to the word-level annotations for the next chapter. Relative to the API origin. Omitted if this is the last chapter in the translation, or if the next chapter doesn't have any word-level annotations.",
            "type": "string"
          },
          "previousChapterWordsLink": {
            "description": "The link to the word-level annotations for the previous chapter. Relative to the API origin. Omitted if this is the first chapter in the translation, or if the previous chapter doesn't have any word-level annotations.",
            "type": "string"
          },
          "numberOfVerses": {
            "type": "number",
            "description": "The number of verses that the chapter contains."
          },
          "simpleChapterApiLink": {
            "description": "The API link to the simplified version of this chapter. Relative to the API origin. Omitted if simplified chapters are not available.",
            "type": "string"
          }
        },
        "required": [
          "chapter",
          "thisChapterAudioLinks",
          "thisChapterAudioTimings",
          "translation",
          "book",
          "thisChapterLink",
          "thisChapterReference",
          "nextChapterApiLink",
          "nextChapterReference",
          "nextChapterAudioLinks",
          "nextChapterAudioTimings",
          "previousChapterAudioTimings",
          "previousChapterApiLink",
          "previousChapterReference",
          "previousChapterAudioLinks",
          "numberOfVerses"
        ],
        "additionalProperties": false,
        "description": "Defines an interface that contains information about a book chapter in a translation."
      },
      "ChapterContent": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ChapterHeading"
          },
          {
            "$ref": "#/components/schemas/ChapterLineBreak"
          },
          {
            "$ref": "#/components/schemas/ChapterVerse"
          },
          {
            "$ref": "#/components/schemas/ChapterHebrewSubtitle"
          }
        ],
        "description": "Defines a union type that represents a single piece of chapter content. A piece of chapter content can be one of the following things: A heading, a line break, a verse, or a Hebrew Subtitle.",
        "type": "object",
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "heading": "#/components/schemas/ChapterHeading",
            "line_break": "#/components/schemas/ChapterLineBreak",
            "verse": "#/components/schemas/ChapterVerse",
            "hebrew_subtitle": "#/components/schemas/ChapterHebrewSubtitle"
          }
        }
      },
      "ChapterHeading": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "heading"
          },
          "content": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The content for the heading. If multiple strings are included in the array, they should be concatenated with a space."
          }
        },
        "required": [
          "type",
          "content"
        ],
        "additionalProperties": false,
        "description": "Defines the schema for a heading in a chapter."
      },
      "ChapterLineBreak": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "line_break"
          }
        },
        "required": [
          "type"
        ],
        "additionalProperties": false,
        "description": "Defines the schema for a line break in a chapter."
      },
      "ChapterVerse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "verse"
          },
          "number": {
            "type": "number",
            "description": "The number of the verse."
          },
          "content": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "$ref": "#/components/schemas/FormattedText"
                },
                {
                  "$ref": "#/components/schemas/InlineHeading"
                },
                {
                  "$ref": "#/components/schemas/InlineLineBreak"
                },
                {
                  "$ref": "#/components/schemas/VerseFootnoteReference"
                }
              ]
            },
            "description": "The list of content for the verse. Each element in the list could be a string, formatted text, or a footnote reference."
          }
        },
        "required": [
          "type",
          "number",
          "content"
        ],
        "additionalProperties": false,
        "description": "Defines the schema for a verse in a chapter."
      },
      "FormattedText": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "The text that is formatted."
          },
          "poem": {
            "description": "Whether the text represents a poem. The number indicates the level of indent. Common in Psalms.",
            "type": "number"
          },
          "wordsOfJesus": {
            "description": "Whether the text represents the Words of Jesus.",
            "type": "boolean"
          }
        },
        "required": [
          "text"
        ],
        "additionalProperties": false,
        "description": "Defines the schema for formatted text. That is, text that is formatted in a particular manner."
      },
      "InlineHeading": {
        "type": "object",
        "properties": {
          "heading": {
            "type": "string",
            "description": "The text of the heading."
          }
        },
        "required": [
          "heading"
        ],
        "additionalProperties": false,
        "description": "Defines the schema for a heading that is embedded in a verse."
      },
      "InlineLineBreak": {
        "type": "object",
        "properties": {
          "lineBreak": {
            "type": "boolean",
            "const": true
          }
        },
        "required": [
          "lineBreak"
        ],
        "additionalProperties": false,
        "description": "Defines the schema for a line break that is embedded in a verse."
      },
      "VerseFootnoteReference": {
        "type": "object",
        "properties": {
          "noteId": {
            "type": "number",
            "description": "The ID of the note."
          }
        },
        "required": [
          "noteId"
        ],
        "additionalProperties": false,
        "description": "Defines the schema for a footnote reference in a verse or a Hebrew Subtitle."
      },
      "ChapterHebrewSubtitle": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "hebrew_subtitle"
          },
          "content": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "$ref": "#/components/schemas/FormattedText"
                },
                {
                  "$ref": "#/components/schemas/VerseFootnoteReference"
                }
              ]
            },
            "description": "The content that is contained in the subtitle. Each element in the list could be a string, formatted text, or a footnote reference."
          }
        },
        "required": [
          "type",
          "content"
        ],
        "additionalProperties": false,
        "description": "Defines the schema for a Hebrew Subtitle in a chapter."
      },
      "ChapterFootnote": {
        "type": "object",
        "properties": {
          "noteId": {
            "type": "number",
            "description": "The ID of the note that is referenced."
          },
          "text": {
            "type": "string",
            "description": "The text of the footnote."
          },
          "reference": {
            "description": "The verse reference for the footnote. Undefined if the footnote isn't associated with a specific verse.",
            "type": "object",
            "properties": {
              "chapter": {
                "type": "number"
              },
              "verse": {
                "type": "number"
              }
            },
            "required": [
              "chapter",
              "verse"
            ],
            "additionalProperties": false
          },
          "caller": {
            "anyOf": [
              {
                "type": "string",
                "const": "+"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The caller that should be used for the footnote. For footnotes, a \"caller\" is the character that is used in the text to reference to footnote. For example, in the text: Hello (a) World ---- (a) This is a footnote. The \"(a)\" is the caller. If \"+\", then the caller should be autogenerated. If null, then the caller should be empty. If a string, then the caller should be that string."
          }
        },
        "required": [
          "noteId",
          "text",
          "caller"
        ],
        "additionalProperties": false,
        "description": "Defines the schema for information about a footnote."
      },
      "TranslationBookChapterAudioLinks": {
        "type": "object",
        "propertyNames": {
          "type": "string"
        },
        "additionalProperties": {
          "type": "string"
        },
        "description": "Defines the schema for the audio links for a book chapter."
      },
      "ApiSimpleTranslationBookChapter": {
        "type": "object",
        "properties": {
          "thisChapterAudioLinks": {
            "description": "The links to different audio versions for the chapter.",
            "$ref": "#/components/schemas/TranslationBookChapterAudioLinks"
          },
          "thisChapterAudioTimings": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "string"
            },
            "description": "The links to the audio timings for different audio versions for the chapter. Relative to the API origin."
          },
          "translation": {
            "description": "The translation information for the book chapter.",
            "$ref": "#/components/schemas/ApiTranslation"
          },
          "book": {
            "description": "The book information for the book chapter.",
            "$ref": "#/components/schemas/ApiTranslationBook"
          },
          "thisChapterLink": {
            "type": "string",
            "description": "The API link for this chapter. Relative to the API origin."
          },
          "thisChapterReference": {
            "$ref": "#/components/schemas/TranslationChapterReference"
          },
          "nextChapterApiLink": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The API link to the next chapter. Relative to the API origin. Null if this is the last chapter in the translation."
          },
          "nextChapterReference": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TranslationChapterReference"
              },
              {
                "type": "null"
              }
            ],
            "description": "The reference for the next chapter. Null if this is the last chapter in the translation."
          },
          "nextChapterAudioLinks": {
            "anyOf": [
              {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "The links to the audio versions for the next chapter. Relative to the API origin. Null if this is the last chapter in the translation."
          },
          "nextChapterAudioTimings": {
            "anyOf": [
              {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "The links to the audio timings for different audio versions for the next chapter. Relative to the API origin. Null if this is the last chapter in the translation."
          },
          "previousChapterAudioTimings": {
            "anyOf": [
              {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "The links to the audio timings for different audio versions for the previous chapter. Relative to the API origin. Null if this is the first chapter in the translation."
          },
          "previousChapterApiLink": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The API link to the previous chapter. Relative to the API origin. Null if this is the first chapter in the translation."
          },
          "previousChapterReference": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TranslationChapterReference"
              },
              {
                "type": "null"
              }
            ],
            "description": "The reference for the previous chapter. Null if this is the first chapter in the translation."
          },
          "previousChapterAudioLinks": {
            "anyOf": [
              {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "The links to the audio versions for the previous chapter. Relative to the API origin. Null if this is the first chapter in the translation."
          },
          "thisChapterWordsLink": {
            "description": "The link to the word-level annotations for this chapter. Relative to the API origin. Omitted if the chapter doesn't have any word-level annotations.",
            "type": "string"
          },
          "nextChapterWordsLink": {
            "description": "The link to the word-level annotations for the next chapter. Relative to the API origin. Omitted if this is the last chapter in the translation, or if the next chapter doesn't have any word-level annotations.",
            "type": "string"
          },
          "previousChapterWordsLink": {
            "description": "The link to the word-level annotations for the previous chapter. Relative to the API origin. Omitted if this is the first chapter in the translation, or if the previous chapter doesn't have any word-level annotations.",
            "type": "string"
          },
          "numberOfVerses": {
            "type": "number",
            "description": "The number of verses that the chapter contains."
          },
          "chapter": {
            "description": "The simplified information for the chapter. Each verse contains a single text string, and the footnotes and formatting are represented by offsets into that string.",
            "$ref": "#/components/schemas/SimpleChapterData"
          },
          "fullChapterApiLink": {
            "type": "string",
            "description": "The API link to the regular (non-simplified) version of this chapter. Relative to the API origin."
          }
        },
        "required": [
          "thisChapterAudioLinks",
          "thisChapterAudioTimings",
          "translation",
          "book",
          "thisChapterLink",
          "thisChapterReference",
          "nextChapterApiLink",
          "nextChapterReference",
          "nextChapterAudioLinks",
          "nextChapterAudioTimings",
          "previousChapterAudioTimings",
          "previousChapterApiLink",
          "previousChapterReference",
          "previousChapterAudioLinks",
          "numberOfVerses",
          "chapter",
          "fullChapterApiLink"
        ],
        "additionalProperties": false,
        "description": "Defines an interface that contains information about a book chapter in a translation, using the simplified chapter format."
      },
      "SimpleChapterData": {
        "type": "object",
        "properties": {
          "number": {
            "type": "number",
            "description": "The number of the chapter."
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimpleChapterContent"
            },
            "description": "The content of the chapter."
          },
          "footnotes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChapterFootnote"
            },
            "description": "The list of footnotes that could not be associated with a verse. Footnotes that belong to a verse are included on the verse itself, so this list is usually empty."
          }
        },
        "required": [
          "number",
          "content",
          "footnotes"
        ],
        "additionalProperties": false,
        "description": "Defines the schema for the data in a simplified chapter. Unlike the regular chapter format, each verse contains a single text string and the footnotes/formatting are represented by offsets into that string."
      },
      "SimpleChapterContent": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SimpleChapterHeading"
          },
          {
            "$ref": "#/components/schemas/ChapterLineBreak"
          },
          {
            "$ref": "#/components/schemas/SimpleChapterVerse"
          },
          {
            "$ref": "#/components/schemas/SimpleChapterHebrewSubtitle"
          }
        ],
        "description": "Defines a union type that represents a single piece of content in a simplified chapter. A piece of chapter content can be one of the following things: A heading, a line break, a verse, or a Hebrew Subtitle.",
        "type": "object",
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "heading": "#/components/schemas/SimpleChapterHeading",
            "line_break": "#/components/schemas/ChapterLineBreak",
            "verse": "#/components/schemas/SimpleChapterVerse",
            "hebrew_subtitle": "#/components/schemas/SimpleChapterHebrewSubtitle"
          }
        }
      },
      "SimpleChapterHeading": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "heading"
          },
          "text": {
            "type": "string",
            "description": "The text of the heading."
          }
        },
        "required": [
          "type",
          "text"
        ],
        "additionalProperties": false,
        "description": "Defines the schema for a heading in a simplified chapter."
      },
      "SimpleChapterVerse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "verse"
          },
          "number": {
            "type": "number",
            "description": "The number of the verse."
          },
          "text": {
            "type": "string",
            "description": "The text of the verse. Lines of poetry and line breaks are separated by newline (\\n) characters."
          },
          "footnotes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimpleVerseFootnote"
            },
            "description": "The footnotes that occur in the verse."
          },
          "headings": {
            "description": "The headings that occur in the middle of the verse. Omitted if the verse contains no inline headings.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimpleInlineHeading"
            }
          },
          "wordsOfJesus": {
            "description": "The ranges of the verse text that represent the Words of Jesus. Omitted if the verse contains none.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimpleTextRange"
            }
          },
          "poem": {
            "description": "The ranges of the verse text that represent lines of poetry. Omitted if the verse contains none.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimplePoemRange"
            }
          }
        },
        "required": [
          "type",
          "number",
          "text",
          "footnotes"
        ],
        "additionalProperties": false,
        "description": "Defines the schema for a verse in a simplified chapter."
      },
      "SimpleVerseFootnote": {
        "type": "object",
        "properties": {
          "noteId": {
            "type": "number",
            "description": "The ID of the note."
          },
          "offset": {
            "type": "number",
            "description": "The index in the verse text that the footnote caller should be inserted at. Measured in UTF-16 code units."
          },
          "text": {
            "type": "string",
            "description": "The text of the footnote."
          },
          "caller": {
            "anyOf": [
              {
                "type": "string",
                "const": "+"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The caller that should be used for the footnote. If \"+\", then the caller should be autogenerated. If null, then the caller should be empty. If a string, then the caller should be that string."
          }
        },
        "required": [
          "noteId",
          "offset",
          "text",
          "caller"
        ],
        "additionalProperties": false,
        "description": "Defines the schema for a footnote in a simplified verse. Unlike the footnotes in the regular chapter format, simplified footnotes include the position that they occur at in the verse text."
      },
      "SimpleInlineHeading": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "number",
            "description": "The index in the verse text that the heading occurs at. Measured in UTF-16 code units."
          },
          "text": {
            "type": "string",
            "description": "The text of the heading."
          }
        },
        "required": [
          "offset",
          "text"
        ],
        "additionalProperties": false,
        "description": "Defines the schema for a heading that is embedded in a simplified verse."
      },
      "SimpleTextRange": {
        "type": "object",
        "properties": {
          "start": {
            "type": "number",
            "description": "The index of the first character of the range in the verse text. Measured in UTF-16 code units."
          },
          "end": {
            "type": "number",
            "description": "The index after the last character of the range in the verse text. Measured in UTF-16 code units."
          }
        },
        "required": [
          "start",
          "end"
        ],
        "additionalProperties": false,
        "description": "Defines the schema for a range of text inside a simplified verse. Ranges are expressed as offsets into the text of the verse that contains them, measured in UTF-16 code units."
      },
      "SimplePoemRange": {
        "type": "object",
        "properties": {
          "start": {
            "type": "number",
            "description": "The index of the first character of the range in the verse text. Measured in UTF-16 code units."
          },
          "end": {
            "type": "number",
            "description": "The index after the last character of the range in the verse text. Measured in UTF-16 code units."
          },
          "level": {
            "type": "number",
            "description": "The level of indent that the line of poetry should be displayed with."
          }
        },
        "required": [
          "start",
          "end",
          "level"
        ],
        "additionalProperties": false,
        "description": "Defines the schema for a range of text inside a simplified verse that represents a line of poetry."
      },
      "SimpleChapterHebrewSubtitle": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "The text of the verse. Lines of poetry and line breaks are separated by newline (\\n) characters."
          },
          "footnotes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimpleVerseFootnote"
            },
            "description": "The footnotes that occur in the verse."
          },
          "headings": {
            "description": "The headings that occur in the middle of the verse. Omitted if the verse contains no inline headings.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimpleInlineHeading"
            }
          },
          "wordsOfJesus": {
            "description": "The ranges of the verse text that represent the Words of Jesus. Omitted if the verse contains none.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimpleTextRange"
            }
          },
          "poem": {
            "description": "The ranges of the verse text that represent lines of poetry. Omitted if the verse contains none.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimplePoemRange"
            }
          },
          "type": {
            "type": "string",
            "const": "hebrew_subtitle"
          }
        },
        "required": [
          "text",
          "footnotes",
          "type"
        ],
        "additionalProperties": false,
        "description": "Defines the schema for a Hebrew Subtitle in a simplified chapter."
      },
      "ApiTranslationBookChapterAudioTimings": {
        "type": "object",
        "properties": {
          "translationId": {
            "type": "string",
            "description": "The ID of the translation."
          },
          "bookId": {
            "type": "string",
            "description": "The ID of the book."
          },
          "chapterNumber": {
            "type": "number",
            "description": "The number of the chapter."
          },
          "reader": {
            "type": "string",
            "description": "The reader for the chapter."
          },
          "audioLink": {
            "type": "string",
            "description": "The link to the audio for these timings."
          },
          "thisChapterLink": {
            "type": "string",
            "description": "The link to the information for this chapter."
          },
          "nextChapterLink": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The link to the information for the next chapter. Null if this is the last chapter in the translation."
          },
          "previousChapterLink": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The link to the information for the previous chapter. Null if this is the first chapter in the translation."
          },
          "thisChapterAudioTimingsLink": {
            "type": "string",
            "description": "The link to this audio timings file."
          },
          "nextChapterAudioTimingsLink": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The link to the timings for the next chapter. Null if this is the last chapter in the translation."
          },
          "previousChapterAudioTimingsLink": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The link to the timings for the previous chapter. Null if this is the first chapter in the translation."
          },
          "verses": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "description": "The times in seconds at which each verse starts, in order. The first number (index 0) is the time in the recording at which the first verse starts."
          }
        },
        "required": [
          "translationId",
          "bookId",
          "chapterNumber",
          "reader",
          "audioLink",
          "thisChapterLink",
          "nextChapterLink",
          "previousChapterLink",
          "thisChapterAudioTimingsLink",
          "nextChapterAudioTimingsLink",
          "previousChapterAudioTimingsLink",
          "verses"
        ],
        "additionalProperties": false,
        "description": "Defines an interface that contains the audio timings for a book chapter, for a specific reader."
      },
      "ApiTranslationBookChapterWords": {
        "type": "object",
        "properties": {
          "translationId": {
            "type": "string",
            "description": "The ID of the translation."
          },
          "bookId": {
            "type": "string",
            "description": "The ID of the book."
          },
          "chapterNumber": {
            "type": "number",
            "description": "The number of the chapter."
          },
          "thisChapterLink": {
            "type": "string",
            "description": "The link to the information for this chapter."
          },
          "nextChapterLink": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The link to the information for the next chapter. Null if this is the last chapter in the translation."
          },
          "previousChapterLink": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The link to the information for the previous chapter. Null if this is the first chapter in the translation."
          },
          "thisChapterWordsLink": {
            "type": "string",
            "description": "The link to this words file."
          },
          "nextChapterWordsLink": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The link to the words for the next chapter. Null if this is the last chapter in the translation, or if the next chapter doesn't have any word-level annotations."
          },
          "previousChapterWordsLink": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The link to the words for the previous chapter. Null if this is the first chapter in the translation, or if the previous chapter doesn't have any word-level annotations."
          },
          "verses": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ChapterWord"
              }
            },
            "description": "The annotated words for each verse in the chapter, keyed by verse number. Each list is in the order that the words occur in the verse."
          }
        },
        "required": [
          "translationId",
          "bookId",
          "chapterNumber",
          "thisChapterLink",
          "nextChapterLink",
          "previousChapterLink",
          "thisChapterWordsLink",
          "nextChapterWordsLink",
          "previousChapterWordsLink",
          "verses"
        ],
        "additionalProperties": false,
        "description": "Defines an interface that contains the word-level annotations for a book chapter."
      },
      "ChapterWord": {
        "type": "object",
        "properties": {
          "contentIndex": {
            "type": "number",
            "description": "The index of the item in the verse's content array that the annotation applies to."
          },
          "start": {
            "type": "number",
            "description": "The index of the first character of the annotated word in the content item's text."
          },
          "end": {
            "type": "number",
            "description": "The index after the last character of the annotated word in the content item's text. That is, text.slice(start, end) is the annotated word."
          },
          "strongs": {
            "description": "The Strong's number(s) for the word. Omitted if the translation only provided other annotations for the word.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "lemma": {
            "description": "The dictionary (citation) form of the word. Omitted if the translation did not provide one.",
            "type": "string"
          },
          "morph": {
            "description": "The morphology parse code for the word. Omitted if the translation did not provide one.",
            "type": "string"
          },
          "srcloc": {
            "description": "The pointer to the word in the source text, in the <sourceName>:<location> format. Omitted if the translation did not provide one.",
            "type": "string"
          },
          "occurrence": {
            "description": "Which occurrence of the source word this word is. 1-based. Omitted if the translation did not provide one.",
            "type": "number"
          },
          "occurrences": {
            "description": "The total number of times that the source word occurs. Omitted if the translation did not provide one.",
            "type": "number"
          }
        },
        "required": [
          "contentIndex",
          "start",
          "end"
        ],
        "additionalProperties": false,
        "description": "Defines the schema for a word-level annotation in a chapter. The annotation is anchored to a range of characters in a single item of a verse's content."
      },
      "ApiSimpleTranslationBookChapterWords": {
        "type": "object",
        "properties": {
          "translationId": {
            "type": "string",
            "description": "The ID of the translation."
          },
          "bookId": {
            "type": "string",
            "description": "The ID of the book."
          },
          "chapterNumber": {
            "type": "number",
            "description": "The number of the chapter."
          },
          "thisChapterLink": {
            "type": "string",
            "description": "The link to the information for this chapter."
          },
          "nextChapterLink": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The link to the information for the next chapter. Null if this is the last chapter in the translation."
          },
          "previousChapterLink": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The link to the information for the previous chapter. Null if this is the first chapter in the translation."
          },
          "thisChapterWordsLink": {
            "type": "string",
            "description": "The link to this words file."
          },
          "nextChapterWordsLink": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The link to the words for the next chapter. Null if this is the last chapter in the translation, or if the next chapter doesn't have any word-level annotations."
          },
          "previousChapterWordsLink": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The link to the words for the previous chapter. Null if this is the first chapter in the translation, or if the previous chapter doesn't have any word-level annotations."
          },
          "verses": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/SimpleChapterWord"
              }
            },
            "description": "The annotated words for each verse in the chapter, keyed by verse number. Each list is in the order that the words occur in the verse. The offsets are into the text of the simplified verse."
          }
        },
        "required": [
          "translationId",
          "bookId",
          "chapterNumber",
          "thisChapterLink",
          "nextChapterLink",
          "previousChapterLink",
          "thisChapterWordsLink",
          "nextChapterWordsLink",
          "previousChapterWordsLink",
          "verses"
        ],
        "additionalProperties": false,
        "description": "Defines an interface that contains the word-level annotations for a book chapter, with their offsets remapped onto the text of each simplified verse."
      },
      "SimpleChapterWord": {
        "type": "object",
        "properties": {
          "start": {
            "type": "number",
[...]
