{
  "openapi": "3.1.0",
  "security": [],
  "info": {
    "title": "Bible API Spec",
    "version": "1.0.0",
    "description": "OpenAPI specification for the Free Use Bible API at https://bible.helloao.org providing access to Bible translations, books, and chapters.",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://bible.helloao.org"
    }
  ],
  "paths": {
    "/api/available_translations": {
      "get": {
        "operationId": "getAvailableTranslations",
        "summary": "Available Translations",
        "description": "Gets the list of available translations in the API.",
        "responses": {
          "200": {
            "description": "List of available translations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableTranslations"
                },
                "examples": {
                  "example": {
                    "summary": "Example response",
                    "value": {
                      "translations": [
                        {
                          "id": "BSB",
                          "name": "Berean Standard Bible",
                          "website": "https://berean.bible/",
                          "licenseUrl": "https://berean.bible/",
                          "shortName": "BSB",
                          "englishName": "Berean Standard Bible",
                          "language": "eng",
                          "textDirection": "ltr",
                          "availableFormats": [
                            "json"
                          ],
                          "listOfBooksApiLink": "/api/BSB/books.json",
                          "numberOfBooks": 66,
                          "totalNumberOfChapters": 1189,
                          "totalNumberOfVerses": 31086,
                          "languageName": "English",
                          "languageEnglishName": "English"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/{translation}/books": {
      "get": {
        "operationId": "getBooksForTranslation",
        "summary": "List Books in a Translation",
        "description": "Gets the list of books that are available for the given translation.",
        "parameters": [
          {
            "name": "translation",
            "in": "path",
            "required": true,
            "description": "The ID of the translation (e.g. BSB)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of books for the translation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationBooks"
                },
                "examples": {
                  "example": {
                    "summary": "Example response for BSB translation",
                    "value": {
                      "translation": {
                        "id": "BSB",
                        "name": "Berean Standard Bible",
                        "website": "https://berean.bible/",
                        "licenseUrl": "https://berean.bible/",
                        "shortName": "BSB",
                        "englishName": "Berean Standard Bible",
                        "language": "eng",
                        "textDirection": "ltr",
                        "availableFormats": [
                          "json"
                        ],
                        "listOfBooksApiLink": "/api/BSB/books.json",
                        "numberOfBooks": 66,
                        "totalNumberOfChapters": 1189,
                        "totalNumberOfVerses": 31086,
                        "languageName": "English",
                        "languageEnglishName": "English"
                      },
                      "books": [
                        {
                          "id": "GEN",
                          "translationId": "BSB",
                          "name": "Genesis",
                          "commonName": "Genesis",
                          "title": "Genesis",
                          "order": 1,
                          "numberOfChapters": 50,
                          "firstChapterApiLink": "/api/BSB/GEN/1.json",
                          "lastChapterApiLink": "/api/BSB/GEN/50.json",
                          "totalNumberOfVerses": 1533
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/{translation}/{book}/{chapter}": {
      "get": {
        "operationId": "getChapterFromTranslation",
        "summary": "Get a Chapter from a Translation",
        "description": "Gets the content of a single chapter for a given book and translation.",
        "parameters": [
          {
            "name": "translation",
            "in": "path",
            "required": true,
            "description": "The ID of the translation (e.g. BSB)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "book",
            "in": "path",
            "required": true,
            "description": "The ID of the book (e.g. GEN for Genesis)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chapter",
            "in": "path",
            "required": true,
            "description": "The numerical chapter (e.g. 1 for the first chapter)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chapter content from the translation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationBookChapter"
                },
                "examples": {
                  "genesis1": {
                    "summary": "Example: Genesis 1 from BSB",
                    "value": {
                      "translation": {
                        "id": "BSB",
                        "name": "Berean Standard Bible",
                        "website": "https://berean.bible/",
                        "licenseUrl": "https://berean.bible/",
                        "shortName": "BSB",
                        "englishName": "Berean Standard Bible",
                        "language": "eng",
                        "textDirection": "ltr",
                        "availableFormats": ["json"],
                        "listOfBooksApiLink": "/api/BSB/books.json",
                        "numberOfBooks": 66,
                        "totalNumberOfChapters": 1189,
                        "totalNumberOfVerses": 31086,
                        "languageName": "English",
                        "languageEnglishName": "English"
                      },
                      "book": {
                        "id": "GEN",
                        "translationId": "BSB",
                        "name": "Genesis",
                        "commonName": "Genesis",
                        "title": "Genesis",
                        "order": 1,
                        "numberOfChapters": 50,
                        "firstChapterApiLink": "/api/BSB/GEN/1.json",
                        "lastChapterApiLink": "/api/BSB/GEN/50.json",
                        "totalNumberOfVerses": 1533
                      },
                      "thisChapterApiLink": "/api/BSB/GEN/1.json",
                      "thisChapterAudioLinks": {
                        "gilbert": "https://openbible.com/audio/gilbert/BSB_01_Gen_001_G.mp3",
                        "hays": "https://openbible.com/audio/hays/BSB_01_Gen_001_H.mp3",
                        "souer": "https://openbible.com/audio/souer/BSB_01_Gen_001.mp3"
                      },
                      "nextChapterApiLink": "/api/BSB/GEN/2.json",
                      "nextChapterAudioLinks": {
                        "gilbert": "https://openbible.com/audio/gilbert/BSB_01_Gen_002_G.mp3",
                        "hays": "https://openbible.com/audio/hays/BSB_01_Gen_002_H.mp3",
                        "souer": "https://openbible.com/audio/souer/BSB_01_Gen_002.mp3"
                      },
                      "previousChapterApiLink": null,
                      "previousChapterAudioLinks": null,
                      "numberOfVerses": 31,
                      "chapter": {
                        "number": 1,
                        "content": [
                          {
                            "type": "heading",
                            "content": ["The Creation"]
                          },
                          {
                            "type": "line_break"
                          },
                          {
                            "type": "verse",
                            "number": 1,
                            "content": ["In the beginning God created the heavens and the earth."]
                          },
                          {
                            "type": "line_break"
                          },
                          {
                            "type": "verse",
                            "number": 2,
                            "content": ["Now the earth was formless and void, and darkness was over the surface of the deep. And the Spirit of God was hovering over the surface of the waters."]
                          },
                          {
                            "type": "heading",
                            "content": ["The First Day"]
                          },
                          {
                            "type": "line_break"
                          },
                          {
                            "type": "verse",
                            "number": 3,
                            "content": [
                              "And God said, \"Let there be light,\"",
                              {
                                "noteId": 0
                              },
                              "and there was light."
                            ]
                          },
                          {
                            "type": "verse",
                            "number": 4,
                            "content": ["And God saw that the light was good, and He separated the light from the darkness."]
                          },
                          {
                            "type": "verse",
                            "number": 5,
                            "content": [
                              "God called the light \"day,\" and the darkness He called \"night.\"",
                              {
                                "lineBreak": true
                              },
                              "And there was evening, and there was morning—the first day.",
                              {
                                "noteId": 1
                              }
                            ]
                          }
                        ],
                        "footnotes": [
                          {
                            "noteId": 0,
                            "text": "Cited in 2 Corinthians 4:6",
                            "caller": "+",
                            "reference": {
                              "chapter": 1,
                              "verse": 3
                            }
                          },
                          {
                            "noteId": 1,
                            "text": "Literally day one",
                            "caller": "+",
                            "reference": {
                              "chapter": 1,
                              "verse": 5
                            }
                          },
                          {
                            "noteId": 2,
                            "text": "Or a canopy or a firmament or a vault; also in verses 7, 8, 14, 15, 17, and 20",
                            "caller": "+",
                            "reference": {
                              "chapter": 1,
                              "verse": 6
                            }
                          },
                          {
                            "noteId": 3,
                            "text": "MT; Syriac and over all the beasts of the earth",
                            "caller": "+",
                            "reference": {
                              "chapter": 1,
                              "verse": 26
                            }
                          },
                          {
                            "noteId": 4,
                            "text": "Cited in Matthew 19:4 and Mark 10:6",
                            "caller": "+",
                            "reference": {
                              "chapter": 1,
                              "verse": 27
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "$ref": "schemas.json#/components"
  }
}